:root {
  --dark-blue: #062444;
  --light-blue: #60A5FA;
  --highlight: #1E40AF;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 5px;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.header .header-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 25px;
  border: 1px solid #e62b05;
  color: white;
  font-weight: 900;
  background: #e62b05;
  border-radius: 5px;
  padding: 2px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 10px 20px;
  position: relative; 
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 2;
  width: 0;
  height: 2px;
  background-color:#0F6084;
  transition: 0.5s ease-in-out; 
}

.nav-item:hover::after {
  width: 85%; 
}

.icon {
  margin-left: 1rem;

}

.nav-text {
  font-size: 1.125rem;
}

.nav-item.active::after {
  width: 85%; 
}

.nav-item.active {
  color:#0F6084; 
  font-weight: 500;
}
@media screen and (max-width: 770px) {
  .navbar-right {
    margin-top: -4.72rem;
    margin-left: -5px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 10px;
  }
}
