/* NavbarLeft.css */
.navbar-left {
  display: flex;
  align-items: center;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b5563;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

.link:hover {
  /* background-color: #edf2f7; */
}

.logo {
  height: 5rem;
}

/* Media Query for screens with a maximum width of 770px */
@media screen and (max-width: 770px) {
  .navbar-left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navbar-left .logo {
    width: 200px;
    height: 100px;
    margin-bottom: 1rem; 
  }

  .link {
    margin-top: 0.5rem; 
  }
}
