/* services.css */

.services {
    max-width: 1100px;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    padding: 0 20px; 

}

.services-heading {
    font-size: 2rem;
    font-weight: 800;
    color: #1A202C;
    /* text-transform: uppercase; Başlığı büyük harfle yazın */
    margin-bottom: 2rem;
}

.services-grid {
    display: grid; /* Flex yerine grid kullan */
    grid-template-columns: repeat(3, 1fr); /* 3 sütunlu bir ızgara  */
    gap: 2rem;

    justify-content: center;
}

.service-box {
    padding: 2rem;
    border: 1px solid #E2E8F0;
    border-radius: 0.375rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden; /* Görüntüyü kutunun içinde tut*/
}

.service-box:hover {
    transform: scale(1.03); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.service-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.3s ease; 
}
.service-box:hover .service-image {
    transform: scale(1.1); 
}
.service-title {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(207, 13, 13);
    margin-bottom: 1rem;
}

.callback-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.callback-icon {
    font-size: 1.5rem;
    color: #48BB78;
}

.callback-link {
    font-size: 1rem;
    color: #3182CE;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 770px) {
    .services-grid {
        grid-template-columns: 1fr; 
    }
    .service-box {
        width: 85%;
        margin-bottom: 1rem;
        margin:  0 auto;
    }
}
